* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.counter-app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.heading {
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 600;
    color: #32404d;
}

.count {
    font-family: "Roboto";
    font-size: 80px;
    font-weight: bold;
    color: #2e3e4e;
    margin-top: 8px;
    margin-bottom: 20px;
}

.button {
    font-family: "Roboto";
    font-size: 16px;
    color: #ffffff;
    background-color: #7c69e9;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    padding: 8px 15px;
    margin: 8px;
}